pkgbase = pacwrap
	pkgdesc = Facilitates the creation, management, and execution of unprivileged Arch-based bubblewrap containers.
	pkgver = 0.8.0
	pkgrel = 1
	url = https://pacwrap.sapphirus.org/
	arch = x86_64
	license = GPLv3-only
	makedepends = cargo
	makedepends = git
	makedepends = fakeroot
	makedepends = pacman
	makedepends = libalpm.so>=14
	makedepends = zstd
	makedepends = busybox
	makedepends = fakechroot
	options = !lto
	source = pacwrap-0.8.0.tar.zst::https://github.com/pacwrap/pacwrap/releases/download/0.8.0/pacwrap-0.8.0.tar.zst
	sha512sums = 832139cd18e276c46fed275e8d4b6bdf215ce14ab9d8cf39d1ffc93bde952028b2a9cb2c4b635170b3093ed0a6f8e46c1a9dd6874c54a283c0913c27c0df14e9

pkgname = pacwrap
	depends = bash
	depends = bubblewrap
	depends = gnupg
	depends = pacman
	depends = libalpm.so>=14
	depends = libseccomp
	depends = pacwrap-dist=0.8.0
	depends = zstd
	optdepends = xdg-dbus-proxy
	provides = pacwrap
	conflicts = pacwrap

pkgname = pacwrap-dist
	provides = pacwrap-dist
	conflicts = pacwrap-dist
